h1
{
text-align:center;
padding:15px;
}
.headert, .table th {
 background:white;
 font-weight:bold;
}

body {
 height:100%;
 background: white;
 font-family: 'Vollkorn', sans-serif;
 font-size:1.5em;
}
.container
{
background:white;
}
.table
{
margin-bottom:0px;
}
.row{
padding:5px;
}
.container {
border-radius:6px;
margin-top:50px;
}
.table a {
color:black;
text-decoration:underline;
}
.form-control input[type:text]
{
width:50;
}
.hiddencell
{
border-right:0px;
border-left:0px;
border-top:0px;
border-bottom:0px;
}